body {
    background-color: white;
    padding: 0;
    margin: 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-container {

    margin: 0 auto;
    border: 2px solid blue;
    height: 600px;
    margin-top: 100px;
    width: 70%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button-google {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    color: rgb(152, 229, 229);
    border-radius: 4px;
    text-decoration: none;
    width: 20%;


}

.button-google img {

    height: 40px;
    width: 40px;
}

.Or {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inputs-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.inputs-container input {
    padding: 5px;
    width: 25%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}

.username {
    margin-top: 5px;
}

.password {
    margin-top: 5px;
}

.lbl-username {
    margin-bottom: 5px;
    margin-right: 200px;

}


.lbl-password {
    margin-top: 30px;
    margin-right: 200px;
}

.inputs-container label {
    font-family: Arial, Helvetica, sans-serif;
}

.register-link {
    margin-left: 385px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid rgb(91, 146, 146);
    width: 8%;
    height: 30px;
    background-color: rgb(91, 146, 146);
    border-radius: 4px;
}

.login-button a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

