<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>

    <main class="main">

        <div class="img-container">
            <img src="../Images/logo.png" alt="Logo" class="imglogo">
        </div>
        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Rides</a></li>
                <li><a href="#">Bookings</a></li>
            </ul>
            <div class="nav-right">
                <input type="text" placeholder="Search...">
                <div class="img-hover">
                    <img src="../Images/user.png" alt="user" class="icono-usuario">
                    <p class="hover-text">pito</p>

                </div>

            </div>
        </nav>


        <h1 class="main-title"> Configuration </h1>
        <div class="border-bottom"></div>

        <form class="form">
            <div class="name-container">
                <label for="name" class="lbl-name"> Public Name </label>
                <input type="text" class="name" placeholder="Bladimir">
            </div>
            <div class="bio-container">
                <label for="text" class="lbl"> Public Bio </label>
                <input type="text" class="bio-input">
            </div>

            <div class="links">
                <a href="#"> Cancel </a>
                <a href="../../LogIn/View/index.html" class="sign-up"> Save </a>
            </div>

        </form>


    </main>

</body>

</html>