<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>

    <main class="main">

        <div class="contenedor-caja">
            <div class="contenedor">
                <img src="../Images/logo.png" alt="Aventones-logo" class="logo">
            </div>


            <button id="google-button" class="google">
                <img src="../Images/googlelogo.png" alt="Google Icon" class="icon">
                <b>Sign In With Google</b> </button>
            <p class="orp"><b> Or </b></p>


            <div class="inputs">

                <label for="usuario" class="lbl-user"> Username </label>
                <input type="text" id="usuario" />

                <label for="password" class="lbl-login"> Password </label>
                <input type="password" id="password" placeholder="**********" />

                <p> Not an user? <a href="../../SignIn/View/index.html"> Register Here</a></p>


            </div>

            <a href="../../MainView/View/index.html" class="login">Login</a>
        </div>



    </main>

</body>

</html>