<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>

    <main class="main">


        <div class="border-container">
            <div class="img-container">
                <img src="../Images/logo.png" alt="logo" class="img">
            </div>

            <div class="button-container">
                <a href="#" class="button-google">
                    <img src="../Images/googlelogo.png" alt="logo-google" class="google">
                    <b>Sign in with Google </b></a>
            </div>

            <p class="Or">Or</p>

            <div class="inputs-container">
                <label for="username" class="lbl-username"> Username </label>
                <input class="type" class="username">

                <label for="password" class="lbl-password"> Password </label>
                <input class="password" class="password" placeholder="**********">
            </div>
            <p class="register-link"> Not an user? <a href="../../SignIn/View/index.html"> Register Now </p>

            <div class="login-button">
                    <a href="../../MainView/View/empty.html"> Login </a>

            </div>

        </div>
    </main>


    <footer>
        <div class="footer-top"></div>
        <div class="footer-content">
            <a href="#">Home</a> |
            <a href="#">Rides</a> |
            <a href="#">Bookings</a> |
            <a href="#">Settings</a> |
            <a href="#">Login</a> |
            <a href="#">Register</a>
        </div>
        <div class="footer-bottom">
            <span>© Aventones.com</span>
        </div>


    </footer>

</body>

</html>