<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>
    <main class="main">
        <div class="img-container">
            <img src="../Images/logo.png" alt="Logo" class="imglogo">
        </div>
        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="../../MainView/View/empty.html" class="home">Home</a></li>
                <li><a href="../../MyRides/View/index.html">Rides</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
            </ul>
            <div class="nav-right">
                <input type="text" placeholder="Search...">
                <div class="img-hover">
                    <img src="../Images/user.png" alt="user" class="icono-usuario">
                    <div class="test">
                        <table>
                            <tr>
                                <th><a href="../../LogIn/View/index.html">Logout</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../Configuration/View/index.html">Settings</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </nav>

        <div class="title-container">
            <h1 class="title"> Bookings </h1>
            <div class="bottom-line"></div>
        </div>

        <div class="table-container">
            <table>
                <tr class="first-row">
                    <th> User </th>
                    <th> Ride </th>
                    <th> Accept/Reject </th>
                </tr>
                <tr class="second-row">
                    <th><img src="../Images/user.png" class="first-user"> fulano </th>
                    <th> Ciudad Quesada - Naranjo </th>
                    <th><a href="#"> Accept </a> | <a href="#"> Reject </a></th>
                </tr>
                <tr class="third-row">
                    <th><img src="../Images/user.png"> yluna </th>
                    <th> Fortuna - San Jose </th>
                    <th><a href="#"> Accept </a> | <a href="#"> Reject </a></th>
                </tr>
            </table>
        </div>
    </main>

</body>

</html>