<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=W, initial-scale=1.0">
    <title>Document</title>
    <link href="../Styles/styles.css" rel="stylesheet">
</head>

<body>

    <main class="main">
        <div class="img-container">
            <img src="../Images/logo.png" alt="Logo" class="imglogo">
        </div>
        <nav class="nav-bar">
            <ul class="nav-left">
                <li><a href="../../MainView/View/empty.html" class="home">Home</a></li>
                <li><a href="../../MyRides/View/index.html">Rides</a></li>
                <li><a href="../../Bookings/View/index.html">Bookings</a></li>
            </ul>
            <div class="nav-right">
                <input type="text" placeholder="Search...">
                <div class="img-hover">
                    <img src="../Images/user.png" alt="user" class="icono-usuario">
                    <div class="test">
                        <table>
                            <tr>
                                <th><a href="../../LogIn/View/index.html">Logout</a></th>
                            </tr>
                            <tr>
                                <th><a href="../../Configuration/View/index.html">Settings</a></th>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
        </nav>

        <div class="title">
            <h1> My Rides </h1>
            <div class="bottom-line"></div>
        </div>

              <div class="new-ride">
                    <a href="../../AddRide/View/index.html"> New Ride </a>
                </div>

        <div class="table-container">
            <table>
          
                <tr class="first-row">
                    <th> From </th>
                    <th> To </th>
                    <th> Seat </th>
                    <th> Car </th>
                    <th> Fee </th>
                    <th> Action </th>

                </tr>
                <tr>
                    <th> Quesada </th>
                    <th> Alajuela </th>
                    <th> 2 </th>
                    <th> Nissan Pathfinder 2015 </th>
                    <th> $5 </th>
                    <th><a href="../../EditRide/View/index.html">Edit</a> | <a href="#">Delete</a></th>

                </tr>
                <tr>
                    <th> Quesada </th>
                    <th> Naranjo </th>
                    <th> 1 </th>
                    <th> Toyota Corolla 2020 </th>
                    <th> $10 </th>
                    <th><a href="../../EditRide/View/index.html">Edit</a> | <a href="#">Delete</a></th>

                </tr>

                <tr>
                    <th> Aguas Zarcas </th>
                    <th> Naranjo </th>
                    <th> 1 </th>
                    <th> Ford Festiva 1990 </th>
                    <th> - </th>
                    <th><a href="../../EditRide/View/index.html">Edit</a> | <a href="#">Delete</a></th>

                </tr>


            </table>
        </div>

    </main>

</body>

</html>