body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.test {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid black;
    transition: opacity 0.2s ease;
    width: 100px;
    z-index: 100;

}

.test table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100px;
}

.test table th {
    text-align: start;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black;
    background-color: white;
    border: 1px solid black;
}


.test a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
}

.img-hover {
    position: relative;
    display: inline-block;
}

.img-hover:hover .test {
    visibility: visible;
    opacity: 1;

}

.img-container {

    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    padding: 10px 40px;
    width: 90%;
    margin: 10px auto 0;
    box-sizing: border-box;
}


.nav-left {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-left li a {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    display: block;

}

.nav-left a:hover {
    background-color: aqua;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;

}

.icono-usuario {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


.days-checkbox {
    display: flex;
    flex-direction: column;
}

.container-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.departure-arrival {
    display: flex;
    gap: 65px;
    margin-top: -50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
}

.first-input,
.second-input {
    width: 280px;
    padding: 10px;
}

.info-ride {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.info-ride-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-ride-group label {
    margin-bottom: 5px;
}

.time {
    width: 150px;
    height: 30px;
}

input, select {
    
    border-radius: 2px;
    border: 1px solid#ccc;
    outline: none;
    
}

.first-input, .second-input {
    border: 2px solid #ccc;
}

.seats,
.fee {
    width: 100px;
    height: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vehicle-details {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 44.8%;
    height: 150px;
    gap: 70px;
    margin-top: -65px;
}

.box-title {
    margin-right: 550px;
}

.year {
    width: 100px;
    height: 30px;
}

.model-input {
    width: 180px;
    height: 30px;
}

.select-brand {
    width: 150px;
    height: 36px;
}

.days-checkbox {
    margin-right: 43px;
    
}

.checkboxs {
    display: flex;
    gap: 50px; /* Espacio entre días */
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 438px;
    margin-top: 50px;
}

.save-container {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 180px;
    height: 40px;
    background-color: rgb(51, 135, 135);
}

.save {

    text-decoration: none;
    color: white;
}



.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-weight: 100;  
    margin-top: 80px;  
}

.bottom-line {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 20%;
}


footer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-top {
    border-top: 1px solid #ccc;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

.footer-content a {
    text-decoration: none;
    color: #ccc;
}

.footer-content a:hover {
    color: purple;
}

.footer-bottom {
    margin-top: 20px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.ride {
    background-color: aqua;
}
